In [238]:
import selenium 
import pandas as pd
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
import os
import urllib
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementClickInterceptedException
from selenium.webdriver.support.ui import WebDriverWait       
from selenium.webdriver.common.by import By       
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.alert import Alert
import time
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")

# 1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

In [2]:
drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [3]:
#getting the page source 
#time.sleep(2)
html = drivers.page_source
#Reading the tabels in HTML
df = pd.read_html(html)

In [8]:
df_YT= df[2]

In [9]:
df_YT

,No.,Video name,Uploader,Views (billions),Upload date,Note,Unnamed: 6
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.44,"June 17, 2016",[B],NaN
1,2.,"""Despacito""[24]",Luis Fonsi,7.32,"January 12, 2017",[C],NaN
2,3.,"""Shape of You""[25]",Ed Sheeran,5.29,"January 30, 2017",[D],NaN
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.24,"October 8, 2016",[E],NaN
4,5.,"""See You Again""[27]",Wiz Khalifa,5.08,"April 6, 2015",[F],NaN
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.43,"January 31, 2012",[G],NaN
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.16,"November 19, 2014",[H],NaN
7,8.,"""Gangnam Style""[32]",Psy,4.05,"July 15, 2012",[I],NaN
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,3.97,"February 27, 2018",NaN,NaN
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,3.95,"May 2, 2018",NaN,NaN
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.78,"March 6, 2014",NaN,NaN
11,12.,"""Sugar""[37]",Maroon 5,3.45,"January 14, 2015",NaN,NaN
12,13.,"""Sorry""[38]",Justin Bieber,3.43,"October 22, 2015",NaN,NaN
13,14.,"""Roar""[39]",Katy Perry,3.34,"September 5, 2013",NaN,NaN
14,15.,"""Dame Tu Cosita""[40]",El Chombo,3.28,"April 5, 2018",NaN,NaN
15,16.,"""Counting Stars""[41]",OneRepublic,3.27,"May 31, 2013",NaN,NaN
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.24,"October 7, 2014",NaN,NaN
17,18.,"""Dark Horse""[43]",Katy Perry,3.05,"February 20, 2014",NaN,NaN
18,19.,"""Faded""[44]",Alan Walker,3.05,"December 3, 2015",NaN,NaN
19,20.,"""Shake It Off""[45]",Taylor Swift,3.05,"August 18, 2014",NaN,NaN
20,21.,"""Lean On""[46]",Major Lazer Official,3.02,"March 22, 2015",NaN,NaN
21,22.,"""Bailando""[47]",Enrique Iglesias,3.01,"April 11, 2014",NaN,NaN
22,23.,"""Girls Like You""[48]",Maroon 5,3.01,"May 31, 2018",NaN,NaN
23,24.,"""Let Her Go""[49]",Passenger,2.97,"July 25, 2012",NaN,NaN
24,25.,"""Mi Gente""[50]",J Balvin,2.90,"June 29, 2017",NaN,NaN
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,2.89,"May 24, 2018",NaN,NaN
26,27.,"""Hello""[52]",Adele,2.83,"October 22, 2015",NaN,NaN
27,28.,"""Perfect""[53]",Ed Sheeran,2.82,"November 9, 2017",NaN,NaN
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.80,"June 4, 2010",NaN,NaN
29,30.,"""Axel F""[55]",Crazy Frog,2.77,"June 16, 2009",NaN,NaN
30,"As of April 30, 2021","As of April 30, 2021","As of April 30, 2021","As of April 30, 2021","As of April 30, 2021","As of April 30, 2021","As of April 30, 2021"

In [10]:
df_YT.drop(["Note","Unnamed: 6"],axis='columns', inplace=True)

In [15]:
df_YT.drop(30,axis=0, inplace=True)

In [18]:
df_YT

,No.,Video name,Uploader,Views (billions),Upload date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.44,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.32,"January 12, 2017"
2,3.,"""Shape of You""[25]",Ed Sheeran,5.29,"January 30, 2017"
3,4.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.24,"October 8, 2016"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.08,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.43,"January 31, 2012"
6,7.,"""Uptown Funk""[31]",Mark Ronson,4.16,"November 19, 2014"
7,8.,"""Gangnam Style""[32]",Psy,4.05,"July 15, 2012"
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[34]",Miroshka TV,3.97,"February 27, 2018"
9,10.,"""Bath Song""[35]",Cocomelon – Nursery Rhymes,3.95,"May 2, 2018"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,3.78,"March 6, 2014"
11,12.,"""Sugar""[37]",Maroon 5,3.45,"January 14, 2015"
12,13.,"""Sorry""[38]",Justin Bieber,3.43,"October 22, 2015"
13,14.,"""Roar""[39]",Katy Perry,3.34,"September 5, 2013"
14,15.,"""Dame Tu Cosita""[40]",El Chombo,3.28,"April 5, 2018"
15,16.,"""Counting Stars""[41]",OneRepublic,3.27,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.24,"October 7, 2014"
17,18.,"""Dark Horse""[43]",Katy Perry,3.05,"February 20, 2014"
18,19.,"""Faded""[44]",Alan Walker,3.05,"December 3, 2015"
19,20.,"""Shake It Off""[45]",Taylor Swift,3.05,"August 18, 2014"
20,21.,"""Lean On""[46]",Major Lazer Official,3.02,"March 22, 2015"
21,22.,"""Bailando""[47]",Enrique Iglesias,3.01,"April 11, 2014"
22,23.,"""Girls Like You""[48]",Maroon 5,3.01,"May 31, 2018"
23,24.,"""Let Her Go""[49]",Passenger,2.97,"July 25, 2012"
24,25.,"""Mi Gente""[50]",J Balvin,2.90,"June 29, 2017"
25,26.,"""Wheels on the Bus""[51]",Cocomelon – Nursery Rhymes,2.89,"May 24, 2018"
26,27.,"""Hello""[52]",Adele,2.83,"October 22, 2015"
27,28.,"""Perfect""[53]",Ed Sheeran,2.82,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.80,"June 4, 2010"
29,30.,"""Axel F""[55]",Crazy Frog,2.77,"June 16, 2009"

# 2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.

In [75]:
drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://www.bcci.tv/")

In [76]:
#Clicking Funding details options
try:
    WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]'))).click()
    WebDriverWait(drivers, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a'))).click()
except:
    WebDriverWait(drivers, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a'))).click()

In [77]:
Match_title = []
Series = []
Place = []
Date = []
Time = []

In [78]:
urls=[i.get_attribute("href")for i in drivers.find_elements_by_xpath("//a[@class='js-match event-list__item event-list-item fixture  t-test fixture--long event-list-item--long']")]
for url in urls:
    drivers.get(url)
#MatchTitle    
    try:
        title=drivers.find_element_by_xpath('//*[@id="scorecard"]/section[3]/div/ul/li[2]/span[2]')
        Match_title.append(title.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Match_title.append("-")
#Series
    try:
        series=drivers.find_element_by_xpath('//*[@id="scorecard"]/section[3]/div/ul/li[1]/span[2]')
        Series.append(series.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Series.append("-")  
        
#Place
    try:
        place=drivers.find_element_by_xpath('//*[@id="scorecard"]/section[3]/div/ul/li[3]/span[2]')
        Place.append(place.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Place.append("-") 

#Date
    try:
        date=drivers.find_element_by_xpath('//div[@class="mc-header-scorebox__datetime"]/strong')
        Date.append(date.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Date.append("-")  

#Time
    try:
        time=drivers.find_element_by_xpath('//span[@class="mc-header-scorebox__ist-time"]')
        Time.append(time.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Time.append("-")

In [79]:
data= list(zip(Match_title,Series,Place,Date,Time))

In [80]:
df_fixture= pd.DataFrame(data,columns=["Match_title","Series","Place","Date","Time"])

In [81]:
df_fixture

,Match_title,Series,Place,Date,Time
0,Test,ICC World Test Championship Final,"The Ageas Bowl, Southampton",Friday 18 June,15:30 IST
1,Test,England v India 2021,"Trent Bridge, Nottingham",Wednesday 4 August,15:30 IST
2,Test,England v India 2021,"Lord's, London",Thursday 12 August,15:30 IST
3,Test,England v India 2021,"Headingley, Leeds",Wednesday 25 August,15:30 IST
4,Test,England v India 2021,"The Oval, London",Thursday 2 September,15:30 IST
5,Test,England v India 2021,"Old Trafford, Manchester",Friday 10 September,15:30 IST

# 3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/

In [84]:
drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://www.guru99.com/")

In [85]:
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="java_technologies"]/li[3]/a'))).click()
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="g-mainbar"]/div/div/div/div/div/div/div[2]/table[5]/tbody/tr[34]/td[1]/a/strong'))).click()

In [86]:
#getting the page source 
#time.sleep(2)
html = drivers.page_source
#Reading the tabels in HTML
df = pd.read_html(html)

In [93]:
df_exceptions = df[3]
headers = df_exceptions.iloc[0]
df_exceptions  = pd.DataFrame(df_exceptions.values[1:], columns=headers)

In [94]:
df_exceptions

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/

In [245]:
drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("http://statisticstimes.com/")

In [246]:
#Clicking on Economy
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="top"]/div[2]/div[2]/button/i'))).click()
#Clicking on India
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[@id="top"]/div[2]/div[2]/div/a[3]'))).click()
time.sleep(4)
try:
    drivers.switch_to.alert.dismiss()
except:
    print("No Ad")
#Clicking on GDP of Indian States
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[2]/div[2]/div[2]/ul/li[1]/a'))).click()

No Ad

In [109]:
#getting the page source 
#time.sleep(2)
html = drivers.page_source
#Reading the tabels in HTML
df = pd.read_html(html)

In [110]:
df[1]

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20339849  18971237

     Share GDP ($billion) GSDP (Cr INR at 2011-12 prices)
     18-19           2019                           19-20     18-19
0   13.88%        398.145                               -   2039074
1    8.59%        246.529                         1312929   1215307
2    8.35%        239.656                         1166817   1123982
3    7.92%        227.276                               -   1186379
4    7.87%        225.798                         1156039   1091077
5    5.75%        164.820                          793223    739525
6    4.97%        142.543                          711627    677428
7    4.55%        130.501                          672018    621301
8    4.54%        130.210                          663258    612828
9    4.27%        122.431                          561801    522009
10   4.12%        118.206                               -    559412
11   4.08%        117.180                          634408    590569
12   3.87%        111.024                          572240    531085
13   2.80%         80.204                          414977    375651
14   2.77%         79.601                          418868    397669
15   2.57%         73.768                          396499    376877
16   1.67%         47.769                               -    234048
17   1.60%         45.982                          243477    231182
18   1.57%         44.945                          240036    224986
19   1.30%         37.186                               -    193273
20   0.82%         23.584                               -    112755
21   0.81%         23.265                          124403    117851
22   0.39%         11.065                           63408     57787
23   0.26%          7.538                           40583     36963
24   0.22%          6.369                               -     31192
25   0.18%          5.207                           25093     23013
26   0.18%          5.063                           26695     24682
27   0.15%          4.344                           20017     18722
28   0.15%          4.215                           20673     19300
29   0.14%          4.126                               -     17647
30   0.13%          3.721                               -     16676
31   0.12%          3.370                           18797     16478
32       -              -                               -         -
33     NaN           2869                        14565951  13981426

In [111]:
df_GDP = df[1]
df_GDP.drop('GSDP (Cr INR at 2011-12 prices)',axis='columns',inplace= True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [112]:
df_GDP

    Rank                      State GSDP (Cr INR at Current prices)            \
    Rank                      State                           19-20     18-19
0    1.0                Maharashtra                               -   2632792
1    2.0                 Tamil Nadu                         1845853   1630208
2    3.0              Uttar Pradesh                         1687818   1584764
3    4.0                    Gujarat                               -   1502899
4    5.0                  Karnataka                         1631977   1493127
5    6.0                West Bengal                         1253832   1089898
6    7.0                  Rajasthan                         1020989    942586
7    8.0             Andhra Pradesh                          972782    862957
8    9.0                  Telangana                          969604    861031
9   10.0             Madhya Pradesh                          906672    809592
10  11.0                     Kerala                               -    781653
11  12.0                      Delhi                          856112    774870
12  13.0                    Haryana                          831610    734163
13  14.0                      Bihar                          611804    530363
14  15.0                     Punjab                          574760    526376
15  16.0                     Odisha                          521275    487805
16  17.0                      Assam                               -    315881
17  18.0               Chhattisgarh                          329180    304063
18  19.0                  Jharkhand                          328598    297204
19  20.0                Uttarakhand                               -    245895
20  21.0            Jammu & Kashmir                               -    155956
21  22.0           Himachal Pradesh                          165472    153845
22  23.0                        Goa                           80449     73170
23  24.0                    Tripura                           55984     49845
24  25.0                 Chandigarh                               -     42114
25  26.0                 Puducherry                           38253     34433
26  27.0                  Meghalaya                           36572     33481
27  28.0                     Sikkim                           32496     28723
28  29.0                    Manipur                           31790     27870
29  30.0                   Nagaland                               -     27283
30  31.0          Arunachal Pradesh                               -     24603
31  32.0                    Mizoram                           26503     22287
32  33.0  Andaman & Nicobar Islands                               -         -
33   NaN                      India                        20339849  18971237

     Share GDP ($billion)
     18-19           2019
0   13.88%        398.145
1    8.59%        246.529
2    8.35%        239.656
3    7.92%        227.276
4    7.87%        225.798
5    5.75%        164.820
6    4.97%        142.543
7    4.55%        130.501
8    4.54%        130.210
9    4.27%        122.431
10   4.12%        118.206
11   4.08%        117.180
12   3.87%        111.024
13   2.80%         80.204
14   2.77%         79.601
15   2.57%         73.768
16   1.67%         47.769
17   1.60%         45.982
18   1.57%         44.945
19   1.30%         37.186
20   0.82%         23.584
21   0.81%         23.265
22   0.39%         11.065
23   0.26%          7.538
24   0.22%          6.369
25   0.18%          5.207
26   0.18%          5.063
27   0.15%          4.344
28   0.15%          4.215
29   0.14%          4.126
30   0.13%          3.721
31   0.12%          3.370
32       -              -
33     NaN           2869

# 5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/

In [115]:
drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://github.com/")

In [116]:
#Clicking on Explore
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//div[@class="HeaderMenu HeaderMenu--logged-out position-fixed top-0 right-0 bottom-0 height-fit position-lg-relative d-lg-flex flex-justify-between flex-items-center flex-auto"]/nav/ul/li[4]/details/summary'))).click()
#Clicking on Trending
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//div[@class="dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4"]/ul[2]/li[3]/a'))).click()

In [117]:
Repository_title = []
Repository_desc = []
Contributors_count = []
Language_used = []

In [118]:
urls=[i.get_attribute("href")for i in drivers.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")]
for url in urls:
    drivers.get(url)
#Repository_title    
    try:
        title=drivers.find_element_by_xpath('//strong[@class="mr-2 flex-self-stretch"]/a')
        Repository_title.append(title.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Repository_title.append("-")
#Repository_desc
    try:
        desc=drivers.find_element_by_xpath('//p[@class="f4 mt-3"]')
        Repository_desc.append(desc.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Repository_desc.append("-")  
        
#Contributors_count
    try:
        count=drivers.find_element_by_xpath('//span[@class="Counter "]')
        Contributors_count.append(count.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Contributors_count.append("-") 

#Language_used
    try:
        lang=drivers.find_element_by_xpath('//span[@class="color-text-primary text-bold mr-1"]')
        Language_used.append(lang.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Language_used.append("-")

In [119]:
data= list(zip(Repository_title,Repository_desc,Contributors_count,Language_used))

In [120]:
df_trending= pd.DataFrame(data,columns=["Repository_title","Repository_desc","Contributors_count","Language_used"])

In [121]:
df_trending

,Repository_title,Repository_desc,Contributors_count,Language_used
0,covid-vaccine-booking,This very basic script can be used to automate...,,Python
1,OnlyFans,Scrape all the media from an OnlyFans account ...,,Python
2,public-apis,A collective list of free APIs,,Python
3,imersaodados3,Projeto de data science para imersão dados,,Jupyter Notebook
4,docs,The open-source repo for docs.github.com,,JavaScript
5,the-art-of-command-line,"Master the command line, in one page",,-
6,dogecoin,very currency,,C++
7,wave,"Wave - The Software as a Service Starter Kit, ...",,PHP
8,coding-interview-university,A complete computer science study plan to beco...,,-
9,Javascript,A repository for All algorithms implemented in...,,JavaScript
10,sds3,-,,-
11,terraform-aws-eks,Terraform module to create an Elastic Kubernet...,,HCL
12,plzoo,Programming Languages Zoo,,OCaml
13,NodeRelax-Blender-Addon,Helps to arrange nodes,,Python
14,ionic-framework,A powerful cross-platform UI toolkit for build...,,TypeScript
15,cowin-vaccination-slot-availability,Script to check the available slots for Covid-...,,Jupyter Notebook
16,adsec,An introduction to Active Directory security,,PowerShell
17,free-programming-books,📚 Freely available programming books,,-
18,kubernetes-the-hard-way,Bootstrap Kubernetes the hard way on Google Cl...,,-
19,stack-on-a-budget,A collection of services with great free tiers...,,-
20,chia-blockchain,Chia blockchain python implementation (full no...,,Python
21,helmfile,Deploy Kubernetes Helm Charts,,Go
22,storybook,"📓 The UI component explorer. Develop, document...",,TypeScript
23,thanos,Highly available Prometheus setup with long te...,,Go
24,audacity,Audio Editor,,C

# 6. Scrape the details of top 100 songs on billiboard.com.
Url = https://www.billboard.com/

In [122]:

drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://www.billboard.com/")

In [123]:
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//ul[@class="header__subnav__list display--flex flex--left-center flex-md--center-center"]/li[3]/a'))).click()

In [131]:
Rank = []
Song_name = []
Artist_name = []
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [132]:
rank = drivers.find_elements_by_xpath('//span[@class="chart-element__rank__number"]')
name = drivers.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
artist = drivers.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
last = drivers.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
peak = drivers.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
weeks = drivers.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')

In [133]:
#Appendinf Ranks
for i in rank:
        Rank.append(i.text)
#Appending Names        
for i in name:
    if(i.text != None):
        Song_name.append(i.text.strip(" ").replace('\n',''))   
    else:
        Song_name.append("-")
#Appending Artist        
for i in artist:
    Artist_name.append(i.text.strip(" ").replace('\n',''))
#Appending Last week Rank    
for i in last:
    if(i.text != None):
        Last_week_rank.append(i.text.strip(" ").replace('\n',''))   
    else:
        Last_week_rank.append("-")
#Appending Peak Rank    
for i in peak:
    if(i.text != None):
        Peak_rank.append(i.text.strip(" ").replace('\n',''))   
    else:
        Peak_rank.append("-")
#Appending No of Weeks         
for i in weeks:
    Weeks_on_board.append(i.text.strip(" ").replace('\n',''))

In [134]:
data= list(zip(Rank,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board))

In [135]:
df_hot100= pd.DataFrame(data,columns=["Rank","Song_name","Artist_name","Last_week_rank","Peak_rank","Weeks_on_board"])

In [136]:
df_hot100

,Rank,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,1,Save Your Tears,The Weeknd & Ariana Grande,6,1,20
1,2,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2,1,8
2,3,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3,1,6
3,4,Rapstar,Polo G,1,1,3
4,5,Levitating,Dua Lipa Featuring DaBaby,5,5,30
...,...,...,...,...,...,...
95,96,4 Da Gang,42 Dugg & Roddy Ricch,100,67,4
96,97,Blame It On You,Jason Aldean,-,97,1
97,98,Wasted On You,Morgan Wallen,92,9,16
98,99,Way Less Sad,AJR,-,99,1
99,100,Clear Da Air,Moneybagg Yo,-,100,1

# 7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/

In [230]:
drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://www.naukri.com/")
#Closing Pop up
try:
    WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//span[@id="block"]'))).click()
except:
    print("No Popup")
#Clicking on Recruiters    
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//ul[@class="midSec menu"]/li[2]/a/div'))).click()  
#Switching the driver
drivers.switch_to.window(drivers.window_handles[1])
#Searching for Data Scientist
search_job=drivers.find_element_by_xpath('//input[@class="sugInp"]')
search_job.send_keys("Data Scientist")
#Clicking on Search Button
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//button[@id="qsbFormBtn"]'))).click()

No Popup

In [231]:
Name = []
Designation = []
Company = []
Skills = []
Location = []

In [232]:
Name = []
Designation = []
Company = []
Skills = []
Location = []
#Getting URL's
urls=[i.get_attribute("href")for i in drivers.find_elements_by_xpath("//p[@class='highlightable']/a[1]")]
for url in urls:
    drivers.get(url)
#Name    
    try:
        name=drivers.find_element_by_xpath('//h1[@class="fl ellipsis wLimit hd"]')
        Name.append(name.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Name.append("-")
#Designation
    try:
        desc=drivers.find_element_by_xpath('//div[@class="ellipsis"]')
        Designation.append(desc.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Designation.append("-")  
        
#Company
    try:
        company=drivers.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[4]/a')
        Company.append(company.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Company.append("-") 
        
#Skills
    try:
        skills=drivers.find_element_by_xpath('//*[@id="skillInfo"]/p[1]')
        Skills.append(skills.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Skills.append("-")
#Location        
    try:
        loc=drivers.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[5]/a')
        Location.append(loc.text.strip(" ").replace('\n',''))
        
    except NoSuchElementException as e:
        Location.append("-")

In [233]:
data= list(zip(Name,Designation,Company,Skills,Location))

In [234]:
df_Recruiters= pd.DataFrame(data,columns=["Name","Designation","Company","Skills","Location"])

In [235]:
df_Recruiters

,Name,Designation,Company,Skills,Location
0,Tanushree,Lead Recruiter,RecRoots,"UI Developers , Software Engineers , Quality A...",Noida
1,sashi bhushan,Senior Specialist,Wipro,-,Bengaluru / Bangalore
2,Bitapi,HR and Operation Manager,Anvaya,"hadoop , Big Data , Data Scientists",Bengaluru / Bangalore
3,Gajendra Singh,Head of Recruitment - Product & Technology,A Leading of Product Start-UP Company,"Data Scientist , Big Data , Hadoop , Web Analy...",Noida
4,Sadashiv Kulkarni,Company HR,Digitially Insights Pvt Ltd,"Junior Level, Mid Level",Pune
5,Raily Ghosh,Associate Manager Human Resources,ncyclo Corporation,"IT , Bi Data Analytics , Decision Sciences",Hyderabad / Secunderabad
6,Invelopment,Company HR,Invelopment,"Mid Level, High Level",Ahmedabad
7,Anjali Srivastava,Director HR,CodeFire Technologies Pvt. Ltd.,"Technical , Business Development Executive , M...",Noida
8,Anoop Somarajan,Assistant Manager - Talent Acquisition,Access Healthcare,"Asp.net , sql , VC++ , Node Js , Angular JS , ...",Chennai
9,Helly Vyas,HR Business Partner,AM - TA & HR,"Big Data technology , PLSQL , Web Developer , ...",Pune
10,Ashish Verma,Senior Associate Human Resources,Evalueserve.com Private Limited,"SAS , VBA , Business Information Services(BIS)...",Gurgaon
11,Bhuwneshari Devi,Lead Talent Acquisition,Success Pact Consulting,"Architect , Machine Learning , Data Scientist ...",Delhi
12,HS Sandesh,Talent Evangelist (www.staffiohr.co),Staffio HR,"Dev Ops , Senior Management , Market Analytics...",Bengaluru / Bangalore
13,Datafoundry,Company HR,JAITRA SOFTWARE SOLUTIONS PVT LTD,"Webmethods Developer , Mean Stack , Business A...",Bengaluru / Bangalore
14,A Valsa Florina,Recruitment Specialist,Redbus.in,"High Level, Mid Level",Bengaluru / Bangalore
15,Kalaivani M V,HR Manager,ZYUDLY LABS DATA SOLUTIONS PRIVATE LIMITED,"Mid Level, Junior Level",Chennai
16,Prashant K,Sr.HR,Confidential,"Data Analyst , Statistical Analysis , Data Sci...",Bengaluru / Bangalore
17,Radhika,HR Associate,Bright Bridge Info-tech Pvt Ltd,"business analyst - IT (python) , pay per click...",Coimbatore
18,Rakhi,HR recruiter,Constalytics,"Data Scientist , Data Research Analyst , Big D...",Singapore - (singapore)
19,Monika Jain,Talent Aquistion Lead,Info Edge India Limited,"Lamp Developer , Ui , Ux Developer , Qa Engine...",Noida
20,Trilok Nath,Senior IT -Recruiter,Molveno Consulting Private Limited,".Net Developers With Angular Js , Html , Front...",Hyderabad / Secunderabad
21,Sridharan,Company Recruiter Vice President,Aaum Research and Analytics Private Limited,"Mid Level, Junior Level",Chennai
22,Rashmi Kathuria,Talent Acquisition Specialist (Specialized in ...,Mount Talent consulting,"SAP - All Modules , Analytics , Digital Market...",Noida
23,Vidya Rani Hadimani,Business Manager- Delivery,Talent Management Labs Inc.,"Mid Level, Top Mangement Level",Bengaluru / Bangalore
24,Monika Singh Thakur,Technical Recruiter,ValueLabs,-,Indore
25,Shikha Bakshi,Senior Manager- Recruitment,Fractal Analytics!!,Analytics Actuarial,Gurgaon
26,Janhavi Soni,HR Generalist,Vihaa Technologies LLP,"Junior Level, Mid Level",Ahmedabad
27,Abhishek - Only Analytics Hiring - India and APAC,Recruitment - Lead Consultant,Apidel Technologies Division of Transpower,"Analytics , Business Intelligence , Business A...",Vadodara / Baroda
28,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics , Managed Services , Team Leading",Mysoru / Mysore
29,Ravi,Team HR,Einfluss Teknocommercial Pvt. Ltd.,"Mid Level, High Level",Ghaziabad
30,Vivek Shrivastava,Assistant Manager Human Resources,InnovAccer Management Pvt Ltd,"Business Analyst , analytics , Decesion Scient...",Noida
31,Gayathri E,Sr.Recruitment,Wonderwrks IT Services Private Limited,-,Chennai
32,Best In Town Analytics,Analytics Associate,BITA,Data Analytics,Bengaluru / Bangalore
33,Santhosh Nagaiah,Chief marketing officer,Tuple Technologies Pte Ltd,"High Level, Mid Level",Others
34,priyanka,General Manager,Reliance Industries,"Sap , Saas , Sql , Hadoop , Production Plannin...",Mumbai
35,Renny Benita K,Operations Manager,DeepIQ Software Solutions Pvt Ltd,"Core Java , J2ee , Big Data , Machine Learning...",Bengaluru / Bangalore
36,Roshan Menugu,Company Recruiter,Cyient Limited,-,Hyderabad / Secunderabad
37,HR Team,Company HR,Terra Blue Exploration Technologies Pvt. Ltd.,-,Bengaluru / Bangalore
38,Jamil Akhtar,Company Recruiter,Quikkloan,-,Delhi
39,rajesh,HR Executive,quantum value IT services,"Data Scientist , Tableau , R Tool , Data Analy...",Bengaluru / Bangalore
40,navya neluri,Data Scientist,asens labs,-,Hyderabad / Secunderabad
41,Ram Kumar,Data Scientist,Working As A Freelancer,-,Pune
42,Vanitha Senkurichi,Company HR,Quaero 3 India Ltd,Mid Level,Bengaluru / Bangalore
43,Sravan Kumar Ranga,Assistant Manager,GSPANN Technologies,"DevOps , Build and Release , Delivery Manager ...",Hyderabad / Secunderabad
44,Arya,Human Resources Manager,Arya.ai,IT Software - Application Programming / Mainte...,Mumbai
45,Blueberry Digital Labs,HR,Blueberry Digital Labs,"Node.js , Html , Css , Nosql , Web Designing ,...",Hyderabad / Secunderabad
46,Ms Uma,Company HR,RenovITe Payment Solutions Pvt ltd,"java , J2ee , activemq , rest , cassandra , re...",Noida
47,Manoj Kumar Ganesh,Senior HR Associate,Cads Software India,"Java , J2EE , Oracle E-business Suite , MS CRM...",Chennai
48,Kranthi Kumar M,Lead - HR (Talent Acquisition),PrimEra Medical Technologies Private Limited,"Medical Coders , mbbs , bi , appeals , master ...",Hyderabad / Secunderabad
49,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,-,Mumbai

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/

In [138]:

drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [139]:
#getting the page source 
#time.sleep(2)
html = drivers.page_source
#Reading the tabels in HTML
df = pd.read_html(html)

In [142]:
df_topbooks = df[0]

In [144]:
df_topbooks.drop(100,inplace = True)

In [145]:
df_topbooks

,Rank,Title,Author,Volume Sales,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan",5094805,Transworld,"Crime, Thriller & Adventure"
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.",4475152,Bloomsbury,Children's Fiction
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.",4200654,Bloomsbury,Children's Fiction
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.",4179479,Bloomsbury,Children's Fiction
4,5,Fifty Shades of Grey,"James, E. L.",3758936,Random House,Romance & Sagas
...,...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert",807311,Random House,General & Literary Fiction
96,97,Happy Days with the Naked Chef,"Oliver, Jamie",794201,Penguin,Food & Drink: General
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne",792187,Scholastic Ltd.,Young Adult Fiction
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave",791507,Orion,Biography: General
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie",791095,Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/

In [146]:
drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://www.imdb.com/list/ls095964455/")

In [147]:
url = "https://www.imdb.com/list/ls095964455/"
res=requests.get(url)
print(res)

<Response [200]>

In [148]:
soup=BeautifulSoup(res.content,'html.parser')

In [149]:
soup.title.text

'Top 100 most watched tv shows of all time - IMDb'

In [153]:
shows = soup.findAll('div',{'class':'lister-item mode-detail'})

In [166]:
Name = []
Year_span = []
Genre = []
Run_time = []
Rating = []
Votes = []
for i in shows:
    Name.append(i.h3.a.text)
    Year_span.append(i.find("span",{"class":"lister-item-year text-muted unbold"}).text)
    Genre.append(i.find("span",{"class":"genre"}).text.strip(" ").replace('\n',''))
    Run_time.append(i.find("span",{"class":"runtime"}).text)
    Rating.append(i.find("span",{"class":"ipl-rating-star__rating"}).text)
    Votes.append(i.find("span",{"name":"nv"}).text)

In [167]:
data= list(zip(Name,Year_span,Genre,Run_time,Rating,Votes))

In [168]:
df_tv100= pd.DataFrame(data,columns=["Name","Year_span","Genre","Run_time","Rating","Votes"])

In [169]:
df_tv100

,Name,Year_span,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,802,840"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"847,917"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"867,968"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"260,276"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"221,258"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,220"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,682"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"165,514"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.2,"34,589"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"188,226"

# 10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/

In [170]:
drivers= webdriver.Chrome(r"C://chromedriver.exe")
drivers.get("https://archive.ics.uci.edu/")

In [171]:
WebDriverWait(drivers, 5).until(EC.element_to_be_clickable((By.XPATH, '//span[@class="whitetext"]/a/font/b'))).click()

In [189]:
#getting the page source 
#time.sleep(2)
html = drivers.page_source
#Reading the tabels in HTML
df = pd.read_html(html)

In [190]:
df1 = df[5]

In [192]:
df1 = df[5]
headers = df1.iloc[0]
df1  = pd.DataFrame(df1.values[1:], columns=headers)

In [195]:
# The Table is not created properly we have to remove rows alternatively 
df1

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,NaN,Abalone,NaN,NaN,NaN,NaN,NaN
2,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
3,NaN,Adult,NaN,NaN,NaN,NaN,NaN
4,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
...,...,...,...,...,...,...,...
1171,NaN,Wikipedia Math Essentials,NaN,NaN,NaN,NaN,NaN
1172,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
1173,NaN,Wikipedia Math Essentials,NaN,NaN,NaN,NaN,NaN
1174,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021
1175,NaN,Synchronous Machine Data Set,NaN,NaN,NaN,NaN,NaN

In [197]:
#Droping Rows Alternately 
for i in range(1,1176,2):
    df1.drop(i,inplace = True)

In [199]:
df1.reset_index(inplace = True, drop = True)

In [200]:
df1

,Name,Data Types,Default Task,Attribute Types,# Instances,# Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,NaN
3,Anonymous Microsoft Web Data,NaN,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,NaN,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021